.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5rem;
}